<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="uk.ac.diamond.scisoft.rixs.rcp.QuickRIXSPerspective"
            icon="icons/stairs.png"
            id="uk.ac.diamond.scisoft.rixs.QRPerspective"
            name="QuickRIXS">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <e4view
            class="uk.ac.diamond.scisoft.rixs.rcp.view.QRLoadedFilePart"
            icon="icons/ui-layered-pane.png"
            id="uk.ac.diamond.scisoft.rixs.QRLoadedFilePart"
            name="RIXS Data Files"
            restorable="true">
      </e4view>
      <view
            class="org.eclipse.dawnsci.plotting.api.VanillaPlottingSystemView"
            icon="icons/chart_curve.png"
            id="uk.ac.diamond.scisoft.rixs.QRPlot"
            name="QuickRIXS Plot"
            restorable="true">
      </view>
      <e4view
            class="uk.ac.diamond.scisoft.rixs.rcp.view.QuickRIXSAnalyser"
            icon="icons/stairs.png"
            id="uk.ac.diamond.scisoft.rixs.QRAnalyser"
            name="RIXS Analyser"
            restorable="true">
      </e4view>
   </extension>
<!--
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="uk.ac.diamond.scisoft.rixs.rcp.QuickRIXSHandler"
            id="uk.ac.diamond.scisoft.rixs.command.QuickRIXS"
            name="Quick RIXS"
      />
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="org.dawnsci.menu.main.tools"
               label="Tools"
               mnemonic="T">
            <command
                  commandId="uk.ac.diamond.scisoft.rixs.command.QuickRIXS"
                  label="Quick RIXS">
            </command>
         </menu>
      </menuContribution>
   </extension>
-->
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="uk.ac.diamond.scisoft.rixs.file"
               label="File"
               mnemonic="F">
            <command
                  commandId="org.dawnsci.datavis.model.fileopen"
                  label="Open File..."
                  mnemonic="."
                  style="push">
            </command>
            <command
                  commandId="org.dawnsci.datavis.model.fileclose"
                  label="Close"
                  mnemonic="C"
                  style="push">
            </command>
            <separator
                  name="uk.ac.diamond.scisoft.rixs.restartseparator"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.restartWorkbench"
                  label="Restart"
                  style="push">
            </command>
            <separator
                  name="uk.ac.diamond.scisoft.rixs.exitseparator"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="Exit"
                  mnemonic="x">
            </command>
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeWorkbenchWindow.activePerspective">
                  <equals value="uk.ac.diamond.scisoft.rixs.QRPerspective"/>
               </with>
            </visibleWhen>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="uk.ac.diamond.scisoft.rixs.QRPerspective">
         <hiddenMenuItem
               id="org.eclipse.ui.run">
         </hiddenMenuItem>
         <hiddenMenuItem
               id="navigate">
         </hiddenMenuItem>
         <hiddenMenuItem
               id="project">
         </hiddenMenuItem>
         <hiddenMenuItem
               id="org.dawnsci.menu.main.tools">
         </hiddenMenuItem>
         <hiddenToolBarItem
               id="org.eclipse.ui.workbench.navigate">
         </hiddenToolBarItem>
         <hiddenToolBarItem
               id="org.eclipse.debug.ui.launchActionSet">
         </hiddenToolBarItem>
         <hiddenToolBarItem
               id="org.dawb.tango.extensions.shared.memory">
         </hiddenToolBarItem>
         <hiddenMenuItem
               id="org.eclipse.search.menu">
         </hiddenMenuItem>
         <hiddenMenuItem
               id="file">
         </hiddenMenuItem>
         <hiddenMenuItem
               id="edit">
         </hiddenMenuItem>
         <hiddenToolBarItem
               id="newWizardDropDown">
         </hiddenToolBarItem>
         <hiddenToolBarItem
               id="org.eclipse.ui.edit.text.gotoLastEditPosition">
         </hiddenToolBarItem>
         <hiddenToolBarItem
               id="org.eclipse.ui.navigate.backwardHistory">
         </hiddenToolBarItem>
         <hiddenToolBarItem
               id="org.eclipse.ui.file.save">
         </hiddenToolBarItem>
         <hiddenToolBarItem
               id="org.eclipse.ui.file.saveAll">
         </hiddenToolBarItem>
         <hiddenToolBarItem
               id="org.eclipse.search.OpenSearchDialogPage">
         </hiddenToolBarItem>
         <hiddenToolBarItem
               id="org.eclipse.ui.navigate.next">
         </hiddenToolBarItem>
         <hiddenToolBarItem
               id="org.eclipse.ui.navigate.previous">
         </hiddenToolBarItem>
         <hiddenToolBarItem
               id="uk.ac.diamond.scisoft.analysis.rcp.plotting.actions.showPlotViewToolbarCommand">
         </hiddenToolBarItem>
         <hiddenToolBarItem
               id="org.eclipse.ui.navigate.forwardHistory">
         </hiddenToolBarItem>
         <hiddenToolBarItem
               id="org.dawnsci.datavis.e4.addons.histogramtoolbar">
         </hiddenToolBarItem>
      </perspectiveExtension>
   </extension>
</plugin>
